<a href="https://colab.research.google.com/github/Synthiya123/PYTHON/blob/main/Data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA STRUCTURE - PYTHON

**LIST** **[ ]**


*   stores multiple items in a single variable.

*  order of the elements remains the same.

In [ ]:
list=[1,'hello','great job',0.88]
list

[1, 'hello', 'great job', 0.88]

***.Change()*** - changes the list by specifing position and renaming the element.

In [ ]:
# Change the list item
list[1]="friends"
print(list)

[1, 'friends', 'great job', 0.88]

***.append()***  - To add the elements at end of the list.

In [ ]:
#Append - to add  elements at the end of the list.

list.append("continue the good work")
print(list)

['friends', 'great job', 0.88, 'continue the good work', 'continue the good work']

In [ ]:
# Remove the item

list.remove(1)
print(list)

['friends', 'great job', 0.88, 'continue the good work']

In [ ]:
#loop through list

for x in list:
  print(list[3])

continue the good work
continue the good work
continue the good work
continue the good work

***list.sort***   -- Arranges the number in ascending order.

In [ ]:
# sort the list-- Arrange them in order

list1=[1,5,8,50,62,14,67,90,-34,-78,-2]
list1.sort()
print(list1)

[-78, -34, -2, 1, 5, 8, 14, 50, 62, 67, 90]

In [39]:
Alpha=["a","d","g","b","x","j","t","e"]
Alpha.sort()
print(Alpha)

['a', 'b', 'd', 'e', 'g', 'j', 't', 'x']

***list.copy()***   -we can make a copy of the list.

In [ ]:
#copy the list

list1.copy()
print(list1)

[-78, -34, -2, 1, 5, 8, 14, 50, 62, 67, 90]

***join***  -- combines the two or more lists.

In [37]:
#Join the list

list_a=["S","G","W"]
list_b=["stop","Go","Wait"]
list_d=[1,2,3,4,5]

list_c=list_a+list_b+list_d
print(list_c)

['S', 'G', 'W', 'stop', 'Go', 'Wait', 1, 2, 3, 4, 5]

***reverse()***  - reverses the entire list

In [ ]:
#reverse the list

list1.reverse()
print(list1)

[90, 67, 62, 50, 14, 8, 5, 1, -2, -34, -78]

***insert()*** -- to add element at a specific position.
Give the position and the element that to be inserted.

In [29]:
#insert -- to add element at a specific position 
# Give the position and the element that to be inserted.

subjects=["English","Math","science"]
subjects.insert(1,"Language")
print(subjects)

['English', 'Language', 'Math', 'science']

***pop()***   -- Removes the last element defaulty. If you specify the position then the respective element will be poped out.

In [31]:
#pop() -- Ask for the  position and it returns back the element from recently changed list.

subjects.pop()

'science'

In [33]:
print(subjects)
subjects.pop(1)

['English', 'Language']

'Language'

***count(values)***   -- returns the number of times the element occured.

In [22]:
#count(value) - give the element and its returns you the count of the element, from the original list.

subjects=["English","Math","science","Math","science"]
C=subjects.count("Math")
print(C)

2

***list.index()***  -- Returns the chunck from the list.

In [ ]:
#Index - returning the chunck from the list

list_c[4:6]

['Go', 'Wait']

***SETS {}***  
*  Used to collect the unique elements out the set.
 
*   Set can neither indexed nor ordered.

In [ ]:

sta={'pen','pencil','eraser',1,2,4,2,1,5,6,0,'true','false',False}
print(sta)

{0, 1, 2, 'true', 4, 5, 6, 'pen', 'eraser', 'pencil', 'false'}

**NOTE**: under set{} false statement  is read as zero and it vanishes.

***remove()*** -- used to  Remove the specific element from the set.

In [ ]:
sta.remove('true')
print(sta)

{0, 1, 2, 4, 5, 6, 'pen', 'eraser', 'pencil', 'false'}

***clear()*** -- Absolute clearance of the set.

In [105]:
de_forest={"animals","trees","water Falls"}
de_forest.clear()
print("de_forest")

de_forest

***pop()***-- Removes the specific element by itself as sets are not indexed.

In [111]:
tens={10,20,30,40,50,60,70,80,90}
tens.pop()
print(tens)

{40, 10, 80, 50, 20, 90, 60, 30}

***add()*** --adds the elements to the set.

In [106]:
forest={"animals","trees","water Falls"}
forest.add("Densed")
print(forest)

{'Densed', 'animals', 'water Falls', 'trees'}

***.copy()*** -- Gives you a copy  of the set.

In [108]:
forest.copy()
print(forest)

{'Densed', 'animals', 'water Falls', 'trees'}

***Looping the set*** - loops till all the unique elements are reached.

In [ ]:
cen_ten={"Mean","Median","Mode","Mean","Median","Mode","range"}
for x in cen_ten:
  print(x)

Mean
Median
Mode
range

In [ ]:
cen_ten={"Mean","Median","Mode","Mean","Median","Mode","range"}
for x in cen_ten:
  print("Mode")

Mode
Mode
Mode
Mode

**Differnce()**  -- Having the reference of one set and retuns the different elements in that refered set.

In [112]:
# Having the set_A as reference and returns the output.

set_A={5,10,15,20,25,30,35}
set_B={10,20,30,40}
otpt=set_A.difference(set_B)
print(otpt)

{25, 35, 5, 15}

In [113]:
#Having the set_B as referece and returning the differnt element in set_B

set_A={5,10,15,20,25,30,35}
set_B={10,20,30,40}
otpt=set_B.difference(set_A)
print(otpt)

{40}

***differnce_update***    -- Both the sets are compared, common elements are vanished and the different element are displayed.

In [122]:
TS={20,30,40,50,60,70,80}
Fs={5,10,15,20,25,30,35,40}
otpt=TS.difference_update(Fs)
print(TS)

{70, 80, 50, 60}

In [123]:
TS={20,30,40,50,60,70,80}
Fs={5,10,15,20,25,30,35,40}
otpt=Fs.difference_update(TS)
print(Fs)

{35, 5, 10, 15, 25}

***intersection()***   -- Collection of common elements from 2 or 3 sets.

In [140]:
X={4,12,20,24,32,36,8,24,16}
Y={2,4,6,8,10,12,14,16,18}
Z={6,12,18,24,30,36,42}
op=(Y.intersection(Z),
    X.intersection(Y),
    Z.intersection(X))
print(op)

({18, 12, 6}, {8, 16, 4, 12}, {24, 36, 12})

In [139]:
# Intersection of all the 3 sets

Res=Y.intersection(Z,X) 
print(Res)

{12}

***isdisjoint()***   -Checks Whether the sets has commom elements are not.

In [141]:
HRDS={100,200,300,400,500,600,800}
THDS={1000,2000,3000,4000,5000}
res=HRDS.isdisjoint(THDS)
print(res)

True

In [143]:
pencils={"Natraj","Apsara","classmate","Faber castle"}
notebooks={"oxford","pearls","foundation","classmate"}
A=notebooks.isdisjoint(pencils)
print(A)

False

***issubset()***   -- Checks whether a set engulfs in another set.

In [144]:
de_forest={"animals","trees","water Falls"}
forest={"animals","trees","water Falls","densed"}
chk=de_forest.issubset(forest)
print(chk)

True

In [145]:
khc=forest.issubset(de_forest)
print(khc)

False

***issuperset***  -- Checks whether all the elements in setB are the elemnts of setA

In [146]:
setA={2,4,6,8,10,12,14,15,16,18,19,20}
setB={4,8,12,16,20}
setA.issuperset(setB)

True

In [147]:
setB.issuperset(setA)

False

***Union()***  - combination of sets.

In [149]:
setA={2,4,6,8,10,12,14,15,16,18,19,20}
setB={4,8,12,16,20}
setA.union(setB)

{2, 4, 6, 8, 10, 12, 14, 15, 16, 18, 19, 20}

**update()**  -- combines pencils with notebooks and returns the updated notebooks.

In [154]:
pencils={"Natraj","Apsara","classmate","Faber castle"}
notebooks={"oxford","pearls","foundation","classmate"}
notebooks.update(pencils)
print(notebooks)

{'Apsara', 'Natraj', 'classmate', 'pearls', 'foundation', 'oxford', 'Faber castle'}

**TUPLES ( )** 

*   Read only structure that cannot be changed.

*   Indexed and Ordered

In [ ]:
#tuples-Read only cannot be changed
#indexed N ordered

t=("luminate","shine","glow",100,580)

In [148]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**tuple.count()** -- returns the number of times the specified element occurs.

In [19]:
beverages=("tea","coffee","lemonade","milk","coffee","lemonade","coffee")
beverages.count("coffee")

3

***tuple.index()***   -- you give the element and it will retun you the position in the tuple.

In [21]:
beverages=("tea","coffee","lemonade","milk","coffee","lemonade","coffee")
beverages.index("milk")

3

**`DICTIONARIES {}`**


*   stores the data value in "keys":values format and keys can be of any datatype
*   Dictionaries are ordered,changed but cannot be duplicated.

In [158]:
details={"name":"Synthiya","Reg":20145,"Location":"mumbai",38:"door number"}
print(details)

{'name': 'Synthiya', 'Reg': 20145, 'Location': 'mumbai', 38: 'door number'}

In [160]:
N=details["name"]
print(N)

Synthiya

**fromkeys()**    --  Matches the values with keys in the dictionary

In [175]:
KEYS='key1','key2','key3'
Values='Red','blue'

dict.fromkeys(KEYS,Values)

{'key1': ('Red', 'blue'), 'key2': ('Red', 'blue'), 'key3': ('Red', 'blue')}

***get()***   -- Give the key and get the value.

In [176]:
signal={"red":"Stop","green":"Go","Yellow":"Get ready"}
signal.get("green")

'Go'

***items()***   -- Displays the all the keys and their corresponding values in the dictionary.

In [12]:
lion={"pt1":"king of the jungle","pt2":"extint animal",20:"lifes span"}
lion.items()

dict_items([('pt1', 'king of the jungle'), ('pt2', 'extint animal'), (20, 'lifes span')])

***pop()***  -- Give the key and pop will remove its value from the dictionary.

In [14]:
lion={"pt1":"king of the jungle","pt2":"extint animal",20:"lifes span"}
lion.pop("pt2")
print(lion)

{'pt1': 'king of the jungle', 20: 'lifes span'}

***popitem()***   -- ommits recently updated keys and values from the dictionary.

In [9]:
ratings={'5 stars': 'natraj', ' 8 stars': 'Apsara', '10 stars': 'classmate'}
ratings.popitem()
ratings

{'5 stars': 'natraj', ' 8 stars': 'Apsara'}

***default()***   ----  Assigning any of the key to be deafault.

In [13]:
data={"Name":"synth","location":"Bangalore","country":"India"}
data.setdefault("country")

'India'

***update()***    -- updates the dictionary by adding the new key and value to the existing dictionary.

In [7]:
ratings={"5 stars":"natraj"," 8 stars":"Apsara"}
ratings.update({"10 stars":"classmate"})
ratings

{'5 stars': 'natraj', ' 8 stars': 'Apsara', '10 stars': 'classmate'}

***values()***   --Returns the values in the dictionary(pencils)

In [1]:
pencils={"Natraj":5,"Apsara":8,"classmate":10,"Faber castle":7}
pencils.values()

dict_values([5, 8, 10, 7])