# Connecting the MySQL with Python

In [81]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\2211582\anaconda3\lib\site-packages (8.0.30)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\2211582\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [10]:
import mysql.connector as mysql

In [39]:
database = mysql.connect(host = "localhost",user = "root",password = "Saviour#123")

print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001995EE9C460>

# Creating a database and Table

In [40]:
get_from = database.cursor()
get_from.execute("CREATE DATABASE Trainee")

In [41]:
get_from = database.cursor()
get_from.execute("SHOW DATABASES")

In [43]:
for x in get_from:
    print(x)

('cts_work',)
('employee',)
('flight',)
('information_schema',)
('mysql',)
('mysql_exercise',)
('performance_schema',)
('sakila',)
('school',)
('supplier',)
('sys',)
('trainee',)
('video',)
('world',)

In [44]:
get_from = database.cursor()
get_from.execute("USE Trainee")

In [47]:
get_from = database.cursor()
get_from.execute("Create Table Trainee_details (Trainee_id varchar(30),First_name char(50),last_name char(50),Qualification varchar(30))")

# Reading the table.

In [56]:
get_from = database.cursor()
get_from.execute("show Tables")

for x in get_from:
  print(x)

('trainee_details',)

# Updating the Table

In [66]:
get_from = database.cursor()
get_from.execute("ALTER TABLE Trainee_details ADD COLUMN Edu char(20)")

# Deleting the table

In [75]:
get_from = database.cursor()
get_from.execute("DROP TABLE Trainee_details")

In [79]:
get_from = database.cursor()
get_from.execute("show databases")